<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

<div class="login-container">

    <div class="login-card">

        <div class="login-header">
            🚗
            <h2>Parking manager</h2>
            <p>Sign in to manage parking</p>
        </div>

        <form method="POST">

            <label>Username</label>
            <input type="text" name="username" placeholder="admin" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="••••••••" required>

            <button class="login-btn">Sign In</button>

        </form>

        <p class="demo-text">Demo: admin / 1234</p>

    </div>

</div>

</body>
</html>